extends layout

block content
    .jumbotron
        .container
            h1 APIs.io configuration
            
            p Wicked can feed information about you API to APIs.io. "Just say the word ..." (aka. define the APIs.io endpoint).
    
    .container
     
        form(role='form' method='post' action='/apisIo')
            
            +checkPanel('glob.apisIo.useApisIo', glob, 'Use ApisIo Updater')
                +inputField('glob.apisIo.apisIoUrl', glob, 'APIs.io URL:')
                p.
                    See http://apisjson.org/format/apisjson_0.14.txt
                +textareaField('glob.apisIo.skeleton', glob, 'Default values for apis.json', 200)
                +renderButtons('/apisIo', '/kongAdapter', null)
            